{% extends 'base.html' %}

{% block title %}Галерея / {{ block.super }}{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox({
            prevEffect : 'fade',
            nextEffect : 'fade',
            helpers : {title: {type: 'inside' }, }
        });
    });
</script>
{% endblock %}


{% block menu %}
    {% with dark=True page='gallery' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block content %}
    <section id="main" class="container">

        <div class="box">
            {% for row in object_list %}
                <div class="row">
                    <div class="9u">
                        <h3>{{ row.title }}</h3>
                        <p>{{ row.description }}</p>
                    </div>
                    <div class="3u"><span class="image fit">
                        <a class="fancybox" rel="fancybox" href="{{ row.image.url }}" title="{{ row.title }}">
                            <img src="{{ row.image.url }}" alt="{{ row.title }}" />
                        </a>
                    </span></div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock content %}
