{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Галерея / {{ block.super }}{% endblock %}

{% block extra_scripts %}
<script type="text/javascript">$(document).ready(function(){$(".fancybox").fancybox({
    prevEffect:'fade',nextEffect:'fade',helpers:{title:{type:'inside'},}});});</script>
{% endblock %}


{% block menu %}
    {% with dark=True page='gallery' %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block content %}
    <section id="main" class="container">

        <div class="box">
            <div class="row no-collapse half uniform row-centered">

                {% for row in object_list %}
                    <article class="card">
                        <div class="cropper">
                            <a class="fancybox" rel="fancybox" href="{{ row.img_url }}">
                                {% thumbnail row.img_src '180x180' crop='center' as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ row.title }}">
                                {% endthumbnail %}
                            </a>
                        </div>
                    </article>
                {% endfor %}

            </div>

            {% include 'helpers/paginator.html' %}

    </section>

{% endblock content %}
